body { background-color: #E3E4FA; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height:35px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #3B9C9C; }
a:visited { color: #3B9C9C; }
a:hover { color: #3B9C9C; background-color:#E0FFFF; }

h1
{
font-family:"verdana";
background-color:#3B5998;
color:white;
font-size: 30px;
}

h2
{
color: #25587E;
background-color:#E3E4FA;
}
h3
{
color: red;
}
.comment0{
font-family: book antiqua;
}

.background0{
background-color:#6AFB92;
}

.background1{
background-color:#57FEFF;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
